<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h1>📱 Agenda de Contactos</h1>
      <p>Inicia sesión para continuar</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input 
          type="email" 
          id="email" 
          formControlName="email"
          placeholder="ejemplo@gmail.com"
          [class.error]="email?.invalid && email?.touched">
        <div class="error-message" *ngIf="email?.invalid && email?.touched">
          <span *ngIf="email?.errors?.['required']">El correo es obligatorio</span>
          <span *ngIf="email?.errors?.['email']">Ingresa un correo válido</span>
        </div>
      </div>
      <div class="form-group password-group">
        <label for="password">Contraseña</label>

        <div class="password-wrapper">
          <input 
            [type]="showPassword ? 'text' : 'password'"
            id="password" 
            formControlName="password"
            placeholder="Mínimo 6 caracteres"
            [class.error]="password?.invalid && password?.touched">

            <!-- BOTÓN MOSTRAR / OCULTAR -->
          <button type="button" class="toggle-password" (click)="togglePassword()">
            {{ showPassword ? '🙈' : '👁️' }}
          </button>
        </div>
        <div class="error-message" *ngIf="password?.invalid && password?.touched">
          <span *ngIf="password?.errors?.['required']">La contraseña es obligatoria</span>
          <span *ngIf="password?.errors?.['minlength']">Mínimo 6 caracteres</span>
        </div>
      </div>

      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <button 
        type="submit" 
        class="btn-login"
        [disabled]="loginForm.invalid || loading">
        <span *ngIf="!loading">Iniciar Sesión</span>
        <span *ngIf="loading">Cargando...</span>
      </button>
    </form>

    <div class="register-link">
      <p>¿No tienes cuenta? <a routerLink="/register">Crear Usuario</a></p>
    </div>
  </div>
</div>